<app-content-box title="">  
  <app-content-layout-2col>
    <div left>
      <app-text-section>
        <h1 class="splitTitle">DIVE INN <span>THE NEWS</span></h1>
        <h2 class="subTitle">Our History &#8226; Our Culture &#8226; Press Reviews</h2>
        <p>
          Dive Inn was born May 5, 2012, the lifelong dream of Mr. Jason Tietjen, and backed by a cavalcade of Denver local investors and industy experts. 
          Anyone that knows Jason knows his passion for creating the perfect entertainment experience, 
          and with a stellar crew of staff the Dive Inn is one of the premiere neighborhood bars on South Broadway.
        </p>
        <app-in-page-nav [routeFragmentTextPairs]="[{display: 'Dive Inn - The Press', fragment: 'Press'}]"></app-in-page-nav><!-- fragment needs to match scrollId of app-content-box -->
      </app-text-section>
    </div>
    <div right>
      <app-image-section imageUrl="./assets/img/Dive-Inn-Exterior.jpg" imageAlt="Dive Inn Exterior at Night" imgTitle="Dive Inn Exterior - Night"></app-image-section>
    </div>    
  </app-content-layout-2col>
  <app-content-layout-2col flowReverse="true">
      <div left>
        <app-text-section>
          <h2 class="subTitle">Dive Inn &#8226; The Community</h2>
          <p>
              At the Dive Inn we try to be not just a great bar, but a community presence that improves our neighborhood and beyond. 
              We're always interested in supporting a good cause, if you have a charitable event we could help out with drop us a line at: 
              <a href="mailto:info@DiveInnDenver.com">info@DiveInnDenver.com</a>
          </p>
          <h2 class='biColorText'>Denver <span>Green School</span></h2>
          <p>One of our most empassioned causes is Denver Green School, 
            the dream of a dear departed friend that is dedicated to sustainable practices and a hands-on approach to teaching. 
            Inspiring science at the most potent level and securing our future with bright, 
            creative minds, Andy Post's vision is carried on at Denver Green School.
          </p>
          <app-in-page-nav [routeFragmentTextPairs]="[{display: 'Andy\'s Story', fragment: 'AndysStory'}]"></app-in-page-nav>
        </app-text-section>
      </div>
      <div right>
        <app-image-section imageUrl="./assets/img/Dive-Inn-Exterior.jpg" imageAlt="Dive Inn Exterior at Night" imgTitle="Dive Inn Exterior - Night"></app-image-section>
      </div>    
    </app-content-layout-2col>
</app-content-box>

<app-content-box title="The Press" scrollId="Press">
  <app-content-layout-2col>
    <div left>
      <app-text-section>
        <p>Yelp</p>
        <p>Foursquare</p>
        <p>Denver A List Winner 2012</p>
        <p>Other?</p>
      </app-text-section>
    </div>
    <div right>
      <app-image-section imageUrl="./assets/img/Dive-Inn-Exterior.jpg" imageAlt="Dive Inn Exterior at Night" imgTitle="Dive Inn Exterior - Night"></app-image-section>
    </div>
  </app-content-layout-2col>
</app-content-box>

<app-content-box title="Andy's Story" scrollId="AndysStory">
  <app-content-layout-2col  flowReverse="true">
    <div left>
      <app-text-section>
        <h2 class='biColorText'>In Memory of Our Friend <span>Andy Post</span></h2>
        <h3>1975 - 2008</h3>
        <p>On June 18, 2008, we lost a very special friend of ours. His name was Andy Post.</p>
        <p>
          Andy was a recent graduate of the Principal Licensure Program at the University of Denver and worked as an Assistant Principal at Cheltenham Elementary School here in Denver. 
          An avid fly fisherman, extreme skier, and mountain biker, Andy loved everything nature had to offer in Colorado. 
          Above all, he was passionate about educating children and the environment. 
          He planned to launch a “Green” school in Denver with the goal of fostering lifelong learners who would work together for a sustainable future. 
          Andy was following in the footsteps of his parents and grandparents, who taught in Denver Public Schools for over 100 years.
        </p>
      </app-text-section>
    </div>
    <div right>
      <app-image-section imageUrl="./assets/img/Dive-Inn-Exterior.jpg" imageAlt="Dive Inn Exterior at Night" imgTitle="Dive Inn Exterior - Night"></app-image-section>
    </div>
  </app-content-layout-2col>
  <app-content-layout-2col>
      <div left>
        <app-text-section>
          <p>
            A dedicated group of educators carried on Andy’s dream and the mission to have “hands-on, brains-on” learning environment help children connect sustainability to their daily lives. 
            Andy was part of this original group of founding partners, 
            but when he died the remaining seven partners continued the work and in 2010 Andy’s dream of a “Green” school became a reality. 
            The Denver Green School (DGS) opened its doors in southeast Denver as the first school to be focused on sustainability in the whole district. 
            Since then, the school has done some amazing things to create the future Andy dreamed of for many years. 
            The students have tackled many important sustainability projects and the school has been recognized by the White House as one of only three schools in the state and 78 schools in the country to receive a Green Ribbon Schools award.
          </p>
          <p>
            If you are reading this and you are so moved, we ask you to 
            <a href="#">ring the bell</a> and donate $1.00 (or more). 
            We assure you, this dollar will go a long way to support Andy’s vision and that of the original founding partners. 
            Your donation will empower students to work towards a bright sustainable future. 
            This dollar will allow DGS to expand the state’s only “farm to cafeteria” program and allow students to eat healthy lunches from organic veggies grown just 200 yards from our lunchroom. 
            It will also go toward technology for the students to purchase much needed computers, iPads and Google Chrome Books.
          </p>
        </app-text-section>
      </div>
      <div right>
        <app-image-section imageUrl="./assets/img/Dive-Inn-Exterior.jpg" imageAlt="Dive Inn Exterior at Night" imgTitle="Dive Inn Exterior - Night"></app-image-section>
      </div>
    </app-content-layout-2col>
    <app-content-layout-2col flowReverse="true">
        <div left>
          <app-text-section>
            <p>
                DGS is an innovation school, serving students from preschool to 8th grade. To learn more about DGS, or get involved with this amazing school, you can:
            </p>
            <p>Visit the website at <a href="www.denvergreenschool.org">www.denvergreenschool.org</a>,</p>
            <p>check us out <a href="https://www.facebook.com/denvergreenschool">on Facebook</a>,</p>
            <p>or call <a href="#">720-424-7480</a></p><!-- todo: how to keep # up to date, tel link -->
            <p>Thanks from all of us at the Dive Inn and the Denver Green School</p>
          </app-text-section>
        </div>
        <div right>
          <app-image-section imageUrl="./assets/img/Dive-Inn-Exterior.jpg" imageAlt="Dive Inn Exterior at Night" imgTitle="Dive Inn Exterior - Night"></app-image-section>
        </div>
      </app-content-layout-2col>
</app-content-box>