@import '../../../scss_variables.scss';
@import '../../../scss_mixins.scss';

:host {
    margin-top: 2em;
    background: $color_FooterBg;

    // todo: fix for IE11, :host does not cover footer element bg after section(s) float down a row
    //@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {}

    @if $debug_appFrame { background: $color_debug5; }
}

footer {
    position: relative;     // for absolute img
    @include group;
    padding: 1em;
    //background: $color_FooterBg;
    @if $debug_appFrame { background: $color_debug7; }

    @media screen and (min-width: $width_Screen1440) {
        margin: 0 $width_Sidebar_3col;      // 15% margin to match center column width
        padding: 1em 0;
    }

    nav {
        ul {
            margin: 0 0 1.5em 0;

            li {
                display: inline-block;
                padding: 0 1em 0.5em 0;
            }
        }
    }

    ul { 
        margin: 0;
        padding: 0;
        list-style-type: none;

        // CANNOT USE CLASS NAME "socialMediaLinks", removed by AdBlock in Firefox
        //&.socialMediaLinks {
        &.externalSocMedLinks {
            @include group;
            li { 
                float: left;
                margin: 0.5em 0.75em 0 0;
                a {
                    display: block;
                    width: 32px;
                    height: 32px;
                    background: url('../../../assets/img/social-sprite.png') 0 0;


                    &.gagglaplas       { background: url('../../../assets/img/social-sprite.png') 0 0; } // CANNOT USE CLASS NAME "googleplus", removed by AdBlock in Firefox
                    &.fucebuuk      { background: url('../../../assets/img/social-sprite.png') -32px 0; }
                    &.yalp          { background: url('../../../assets/img/social-sprite.png') -64px 0; }
                    &.fiirsqiire    { background: url('../../../assets/img/social-sprite.png') -96px 0; }
                    &.twattar       { background: url('../../../assets/img/social-sprite.png') -128px 0; }
                    &.punturust     { background: url('../../../assets/img/social-sprite.png') -160px 0; }
                }
            }
        }
    }

    section {
        float: left;
        margin: 0 10% 2em 0;
        header {
            h1 {
                @include biColorText;
                margin-bottom: 0;
            }
        }
    }

}