<app-content-box title="">  
  
  <!-- transcluded content -->
  <app-content-layout>
    
    <div left>
      <h1 class="biColorText">
        INSIDE THE <span>DIVE INN</span>
      </h1>
      <h2>DIVE BAR &#8226; SPORTS BAR &#8226; GAMES BAR</h2>
      <p>Dive Inn is one of Southeast Denver's best new venues with a cozy dive bar, a big-screen sports bar, and a lively games bar, all in the same great space!</p>
      <p>With awesome 
        <a href="#">drink specials every day</a> 
        and a huge variety of crazy 
        <a routerLink='DiveLog'>events throughout the year</a>, 
        there's always a reason to visit the Dive Inn. <strong>Open 365 days a year</strong>, we're ready to party when you are!</p>
    </div>

    <div right>
      <h2>Video Tour</h2>
    </div>

  </app-content-layout>
  
</app-content-box>