<app-content-box title="">  
  <app-content-layout-2col>
    <div left>
      <app-text-section>
        <h1 class="splitTitle">FIND THE <span>DIVE INN</span></h1>
        <h2 class="subTitle">1380 South Broadway, Denver 80210</h2>
        <ul>
          <li>At the intersection of South Broadway and Arkansas</li>
          <li>5 blocks south of the Broadway exit on I-25</li>
          <li>On the same block as Pasquini's</li>
        </ul>
        <h3>Light Rail:</h3>
        <p>I-25 &amp; South Broadway</p>
        <h3>RTD Bus:</h3>
        <p>Route 0 at Louisiana Avenue</p>
        <a href="https://maps.google.com/maps?q=dive+inn+denver&hl=en&sll=39.764339,-104.855111&sspn=0.527282,1.056747&hq=dive+inn&hnear=Denver,+Colorado&t=m&z=13&iwloc=A" target="_blank">
          View Larger Map
        </a>
      </app-text-section>
    </div>
    <div right>
        <iframe class="" width="466" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1380%2Bsouth%2Bbroadway&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe>
    </div>
  </app-content-layout-2col>
  <app-content-layout-2col flowReverse="true">
    <div left>
      <app-text-section>
        <h2><a href="tel:7202426157">720-242-6157</a></h2>
        <h2><a href="mailto:info@DiveInnDenver.com">Info@DiveInnDenver.com</a></h2>
      </app-text-section>
    </div>
    <div right>
      <app-image-section imageUrl="./assets/img/Dive-Inn-Exterior.jpg" imageAlt="Dive Inn Exterior at Night" imgTitle="Dive Inn Exterior - Night"></app-image-section>
    </div>
  </app-content-layout-2col>
</app-content-box>