@import '../../../scss_variables.scss';
@import '../../../scss_mixins.scss';

:host {
    display: block;
    @include group;

    @if $debug_layout { border: 1px solid #0ff; }

    main {
        flex: none;     // smaller devices have a single column the full width of the screen
        @if $debug_layout { background: $color_debug2; }

        width: 92%;
        margin: 0 auto;

        //@media screen and (min-width: $width_Screen480) { width: 98%; }
        @media screen and (min-width: $width_Screen640) { width: 94%; }
        @media screen and (min-width: $width_Screen800) { width: 94%; }
        @media screen and (min-width: $width_Screen960) { width: 93%; }
        @media screen and (min-width: $width_Screen1024) { width: 92%; }
        @media screen and (min-width: $width_Screen1280) { width: 90%; }
        //@media screen and (min-width: $width_Screen1440) { margin: 0; } // 2 * sidebar width
    }

    .sidebarContainer { 
        width: 100%;
        @include group;

        @media screen and (min-width: $width_Screen600) {
            float: left;
            width: 50%;
            //width: 47.5%;
            //margin-right: 2.5%;
        }

        @if $debug_layout { background: $color_debug7; }
    }
    #side1 { 
        @media screen and (min-width: $width_Screen600) {
            //margin-right: 0;
            //margin-left: 2.5%;
        }
        @if $debug_layout { background: $color_debug8; } 
    }
}

@media screen and (min-width: $width_Screen1440) {
    :host {
        display: flex;          // flex for internal main content/sidebar flow
        flex-direction: row;    // begin 3-column layout

        main {
            flex: 1 1 auto;     // main content flex to fill
        }
        .sidebarContainer {
            margin-top: $height_LeftSidebarOffset;
            flex: 0 0 $width_Sidebar_3col;      // sidebars' width at 3 columns
        }
        #side1 {
            order: -1;          // move first sidebar to left side
        }
    }
}
