<app-content-box title="">  
  <app-content-layout-2col>
    <div left>
      <app-text-section>
        <h1 class="splitTitle">DIVE <span>SHOP</span></h1>
        <h2 class="subTitle">Alliterative Tagline</h2>
        <p>PHASE ONE CHANGE COPY TO "COMING SOON"</p>
        <ul>
          <li>Shop images slideshow for phase 1?</li>
          <li>Link to submit for Dive Sightings - later phase</li>
          <li>Other details?</li>
        </ul>
      </app-text-section>
    </div>
    <div right>
      <app-image-section imageUrl="./assets/img/Dive-Inn-Exterior.jpg" imageAlt="Dive Inn Exterior at Night" imgTitle="Dive Inn Exterior - Night"></app-image-section>
    </div>
  </app-content-layout-2col>
</app-content-box>