@import '../../../scss_variables.scss';

header {
    
    position: relative;     // for absolutely positioned img

    height: $height_Header;

    // *********************************************
    // all header positioning should be done in the appropriate layout file
    // *********************************************

    @if $debug_layout { background: rgba(255,255,0,0.25); }

    img {
        position: absolute;
        top: 0.5em;
        left: 1em;

        width: 25%;
        max-width: 500px;   // native resolution
        max-height: 376px;
    }
    
    // debug
    h1 {
        display: none;
        @if $debug_layout { display: block; }
        font-size: 5em;
        margin: 0;
        padding: 1em 0;
        text-align: center;
    }
}