<app-content-box title="">  
  <app-content-layout-2col>
    <div left>
      <app-text-section>
        <h1 class="splitTitle"><span>DIVE BUDDY</span> MOBILE APP</h1>
        <h2 class="subTitle">Never Dive Inn Alone</h2>
        <p>The Dive Buddy mobile app is available for iOS and Android devices:</p>
        <ul>
          <li>
            <a href="https://play.google.com/store/apps/details?id=com.app_diveinn.layout&feature=search_result#?t=W251bGwsMSwyLDEsImNvbS5hcHBfZGl2ZWlubi5sYXlvdXQiXQ.." target="_blank">
            Android - valid link??</a>
          </li>
          <li>iOS - NEED LINK</li>
          <li>Other details?</li>
        </ul>
      </app-text-section>
    </div>
    <div right>
      <app-image-section imageUrl="./assets/img/Dive-Inn-Exterior.jpg" imageAlt="Dive Inn Exterior at Night" imgTitle="Dive Inn Exterior - Night"></app-image-section>
    </div>
  </app-content-layout-2col>
</app-content-box>