<app-content-box title="">  
  <app-content-layout-2col>
    <div left>
      <app-text-section>
        <h1 class="splitTitle"><span>DIVE BUDDY</span> MOBILE APP</h1>
        <h2 class="subTitle">Never Dive Inn Alone</h2>
        <h3>Loyalty Program - earn points, get rewards</h3>
        <p>NEED DETAILS</p>
        <p>The Dive Buddy mobile app is available for iOS and Android devices:</p>
        
        <div class="appLinks">
          <a id='googlePlayLink' href='https://play.google.com/store/apps/details?id=com.app_diveinn.layout&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
          </a>
          
          <a id='appStoreLink' href='https://itunes.apple.com/us/app/dive-inn/id572935908?mt=8'>
            <img alt='Download on the App Store' src='./assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg'/>
          </a>      
        </div>
        <div id='qrCodeLink'>
          <h4>Epic Apps QR Link</h4>
          <img alt='Epic Business Apps QR Code Link' src='./assets/img/DiveInnQRCode.png'/>
        </div>
        
      </app-text-section>
    </div>
    <div right>
      <app-image-section imageUrl="./assets/img/mobile.png" imageAlt="Dive Inn Mobile App" imgTitle="Dive Inn Mobile App"></app-image-section>
    </div>
  </app-content-layout-2col>
</app-content-box>