<div class="camContainer">
  <iframe src="http://g0.ipcamlive.com/player/player.php?alias=59c9608e2e48d" width="1920px" height="1080px" frameborder="0" allowfullscreen></iframe>
</div>

<!-- Parameters:
  - alias: alias of your camera
  - autoplay=1: start video automatically (this parameter works on desktop computers only)
  - mute=1: mute the audio 
  - disablefullscreen=1: disable full screen button
  - disablevideofit=1: disable video fit button
  
 Don't forget to adjust the height of the IFRAME according to the ASPECT RATIO of your camera!  -->