@import '../../../../scss_variables.scss';
@import '../../../../scss_mixins.scss';

:host {
    display: block;
    margin: 0 0 3em 0;
}

.contentBox {
    
    .contentBox-top, .contentBox-bottom {
        height: $height_contentBox-bottom;
        background: url('../../../../assets/img/plankHorizontal.png');
        background-size: 100% 100%;
        box-shadow: 0px 2px 5px 0px hsla(0,0%,0%,1);
    }
    .contentBox-top {
        position: relative;
        height: $height_contentBox-top;
        box-shadow: 0px 1px 7px 1px hsla(0,0%,0%,1);

        header {
            position: absolute;
            display: inline-block;
            left: 50%;
            transform: translate(-50%,-50%);
            margin-top: $height_contentBox-top/2;      // half of contentBox-top height
            padding: 0.5em 1em;
            background: url('../../../../assets/img/contentTitle.png');
            border-radius: 0.25em;
            box-shadow: 2px 2px 6px 0px hsla(0,0%,0%,1);

            h1 {
                margin: 0;
                text-shadow: -1px -1px #333;
            }
        }
    }
    .contentBox-content {
        width: 99.5%;
        margin: 0 auto;
        padding: 1em; 
        color: $color_TextDk;
        background: $color_SectionBg url('../../../../assets/img/stripe1.png');
        border: 1px solid #777;
        border-top: none;
        border-bottom: none;
    }

}
