<app-content-box title="">  
  
  <!-- transcluded content -->
  <app-content-layout-2col>
    
    <div left>
      <h1 class="biColorText">
        DIVE <span>LOG</span>
      </h1>
      <h2>Check out what's happening at the Dive Inn</h2>
      <h3>... just not quite yet.</h3>
      <p>We're working on bringing you a live calendar for all of the Dive Inn events.</p>
      <p>For now please check our <a href="https://www.facebook.com/diveinndenver" title="The Dive Inn on Facebook" target="_blank">Facebook Page</a> to find out what's coming up!</p>
    </div>

    <div right>
      <a href="https://www.facebook.com/diveinndenver" title="The Dive Inn on Facebook" target="_blank">
        <img src="./assets/img/dive_inn_facebook_logo.jpg" width='180px' height='180px' alt="Dive Inn Facebook Link" />
        <h1>The<br/>Dive Inn<br/>on Facebook</h1>
      </a>
    </div>

  </app-content-layout-2col>
  
</app-content-box>