<app-content-box title="">  
    
  <app-content-layout-2col>
    
    <div left>
      <app-text-section>
        <h1 class="splitTitle">DIVE LOG <span>CALENDAR</span></h1>
        <!-- <h2 class="subTitle">Calendar of Events</h2> -->
        <h2 class="subTitle">Check out what's happening at the Dive Inn</h2>

        <h3>... just not quite yet.</h3>
        <p>We're working on bringing you a live calendar for all of the weekly and special events at Dive Inn, 
          but for now please check our 
          <a href="https://www.facebook.com/diveinndenver" title="The Dive Inn on Facebook" target="_blank">Facebook Page</a> to find out what's coming up soon!</p>
      </app-text-section>
    </div>

    <div right>
      <a href="https://www.facebook.com/diveinndenver" title="The Dive Inn on Facebook" target="_blank">
        <img src="./assets/img/dive_inn_facebook_logo.jpg" width='180px' height='180px' alt="Dive Inn Facebook Link" />
        <h1>The<br/>Dive Inn<br/>on Facebook</h1>
      </a>
    </div>

  </app-content-layout-2col>
</app-content-box>

