@import '../../../scss_variables.scss';
@import '../../../scss_mixins.scss';

// target the host element ("app-sidebar-left", "app-sidebar-right", etc)
:host { 
    // todo: this is only for 3-column layout, need to refactor if other layouts are used

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    //@media screen and (min-width: $width_Screen600) {        
    //}

    @media screen and (min-width: $width_Screen1440) {
        width: $width_SidebarInternal;
        max-width: $width_SidebarInternal_Max;
        margin: 0 auto;
    }
    /////////////////
}
