@import '../../../scss_variables.scss';

footer {
    
    // ******************************
    // all footer positioning should be done in the relevant page layout
    // ******************************

    margin-top: 3em; 
    background: rgba(0,0,0,0.6);
    text-align: center;
    h1 { margin: 0; padding: 1em; }

    @if $debug_layout { background: rgba(255,0,255,0.3); }
}