<app-content-box title="">  
  <app-content-layout-2col>
    <div left>
      <app-text-section>
        <h1 class="splitTitle">P.A.D.I. <span>CLUB</span></h1>
        <h2 class="subTitle">Professional Adventurers of Dive Inn</h2>
        <p>Become a certified member of the Dive Inn party crew and get in on exlucsive rewards, events, and giveaways!</p>
        <p>PHASE ONE CHANGE COPY TO "COMING SOON"</p>
        <p>Join the P.A.D.I. Club and get coupons and deals every week via email, 
          and get news of unexpected VIP arrivals and post-set shows through Mobile Alerts. 
          Plus, submit your photos of Dive Inn gear spotted throughout the world to earn a chance at monthly prizes with Dive Sightings!</p>
        <ul>
          <li>Join P.A.D.I. - email only, phase 1.5?</li>
          <li>Mobile Alerts - 2nd or later phase</li>
          <li>Dive Sightings - email only, 2nd or later</li>
          <li>Other details?</li>
        </ul>
      </app-text-section>
    </div>
    <div right>
      <app-image-section imageUrl="./assets/img/Dive-Inn-Exterior.jpg" imageAlt="Dive Inn Exterior at Night" imgTitle="Dive Inn Exterior - Night"></app-image-section>
    </div>
  </app-content-layout-2col>
</app-content-box>