.contentLayoutContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /deep/ > div {
        width: 49%;
        //flex: 1;

    //     // not necessary, transclusion does not render div if matching content does not exist
    //     //&:empty { display: none; }
    }
}
