<app-content-box title="">  
  <app-content-layout-2col>
    <div left>
      <app-text-section>
        <h1 class="splitTitle">CLUCK <span>CHICKEN</span></h1>
        <h2 class="subTitle">Southern Comfort Food &#8226; @theclucktruck &#8226; @diveinndenver</h2>
        <p>CLUCK serves up authentic southern favorites including their incredible fried chicken fingers.</p>
        <p>Located inside Dive Inn.</p>
        <ul>
          <li>CLUCK Facebook logo / link</li>
          <li>Hours</li>
          <li>digital copy of menu (NOT ON FACEBOOK??)</li>
          <li>Other details?</li>
        </ul>
      </app-text-section>
    </div>
    <div right>
      <app-image-section imageUrl="./assets/img/Dive-Inn-Exterior.jpg" imageAlt="Dive Inn Exterior at Night" imgTitle="Dive Inn Exterior - Night"></app-image-section>
    </div>
  </app-content-layout-2col>
</app-content-box>