<app-content-box title="">  
  <app-content-layout-2col>
    <div left>
      <app-text-section>
        <h1 class="splitTitle">DIVE INN <span>SPECIALS</span></h1>
        <h2 class="subTitle">Every Day &#8226; Every Week &#8226; Every Season</h2>
        <p>Dive Inn has a huge variety of specials available every day of the year.</p>
        <ul>
          <li>365 Flyer</li>
          <li>Deep Eddy - $6 Bloody Mary (meat straw) - every day??</li>
          <li>"Dive Inn" to Deep Eddy Vodka - $4 Every Day</li>
          <li>Mules - $5 Every Day (varieties)</li>
          <li>Tullamore Dew - $4 Every Day</li>
          <li>Milagro Tequilla - $5 All Day Every Day</li>
          <li>Tecate Tuesdays - $4 16oz tallboys</li>
          <li>Tequilla of the Month - tasting $6,7,8,10 / 4 shots</li>
        </ul>
        <ul>
          <li>Crawfish Boil</li>
          <li>Quarterback Challenge</li>
          <li>League / Competitions</li>
          <li>Ohio State Univeristy - Buckeyes</li>
          <li>Denver Broncos</li>
          <li>Other sports? single sports page?</li>
          <li>Itsy Bitsy??</li>
        </ul>
      </app-text-section>
    </div>
    <div right>
      <app-image-section imageUrl="./assets/img/Dive-Inn-Exterior.jpg" imageAlt="Dive Inn Exterior at Night" imgTitle="Dive Inn Exterior - Night"></app-image-section>
    </div>
  </app-content-layout-2col>
</app-content-box>