<nav *ngIfMediaQuery="'(min-width: 600px)'"><!-- todo: change this from hardcoded value -->
  <ul class="signPosts">
    <li *ngFor="let nr of _navRoutes">
    </li>
  </ul>
  <ul class="signs">
      <li *ngFor="let nr of _navRoutes">
          <a [routerLink]="'../' + nr.routeStr" [routerLinkActive]="['active']">{{nr.display}}</a>
      </li>
    </ul>
</nav>
<!-- <nav *ngIfMediaQuery="'(max-width: 599px)'"> -->
<!-- <nav>
  <ul>
      <li *ngFor="let nr3 of _navRoutes">{{nr3.routeStr}}</li>
  </ul>
</nav> -->


<!-- <nav>
  <ul>
    <li style="z-index: 100">
      <a [routerLink]="['/Home']">Home</a>
    </li>
    <li style="z-index: 90">
      <a [routerLink]="['/DiveLog']">Dive Log</a>
    </li>
    <li style="z-index: 80">
      <a [routerLink]="['/WhatsInside']">What's Inside</a>
    </li>
    <li>
      <a href="#">Specials</a>
    </li>
    <li>
      <a href="#">Galley</a>
    </li>
    <li>
      <a href="#">P.A.D.I. Club</a>
    </li>
    <li>
      <a href="#">Dive Shop</a>
    </li>
    <li>
      <a href="#">Gallery</a>
    </li>
    <li>
      <a href="#">Dive Buddy</a>
    </li>
    <li>
      <a href="#">Dive News</a>
    </li>
    <li>
      <a href="#">Charters</a>
    </li>
    <li>
      <a href="#">Find Us</a>
    </li>
  </ul>
</nav> -->
