<nav>
  <ul>
    <li>
      <a [routerLink]="['/Home']">Home</a>
    </li>
    <li>
      <a [routerLink]="['/DiveLog']">Dive Log</a>
    </li>
    <li>
      <a [routerLink]="['/WhatsInside']">What's Inside</a>
    </li>
    <li>
      <a href="#">Specials</a>
    </li>
    <li>
      <a href="#">Galley</a>
    </li>
    <li>
      <a href="#">P.A.D.I. Club</a>
    </li>
    <li>
      <a href="#">Dive Shop</a>
    </li>
    <li>
      <a href="#">Gallery</a>
    </li>
    <li>
      <a href="#">Dive Buddy</a>
    </li>
    <li>
      <a href="#">Dive News</a>
    </li>
    <li>
      <a href="#">Charters</a>
    </li>
    <li>
      <a href="#">Find Us</a>
    </li>
  </ul>
</nav>
