@import '../../../scss_variables.scss';

header {
    
    position: relative;     // for absolutely positioned logo img
    height: $height_Header;

    @if $debug_appFrame { background: $color_debug1; }

    img {
        position: absolute;
        top: 0.5em;
        left: 1em;

        width: 25%;
        max-width: 500px;   // native resolution
        max-height: 376px;
    }
    
    // debug
    h1 {
        display: none;

        @if $debug_appFrame { 
            display: block; 
            position: absolute; 
            left:0;top:0;right:0;bottom:0; 
            width: 50%; 
            height: 50%;
            margin: auto;
            text-align: center;
            font-size: 5em;
        }
    }
}