@import '../../../scss_variables.scss';

header {
    
    position: relative;     // for absolutely positioned logo img
    height: $height_Header;

    @if $debug_appFrame { background: $color_debug1; }

    img {
        position: absolute;
        top: 0.5em;
        left: 1em;

        width: 33%;
        @media screen and (min-width: $width_Screen800) { width: 25%; };
        max-width: 500px;   // native resolution
        max-height: 376px;
    }
}