$width_PhonePortrait: 400px;
$width_PhoneLandscape: 600px;
$width_TabletPortait: 480px;
$width_TabletLandscape: 640px;
$width_ScreenSmall: 1024px;
$width_ScreenMedium: 1280px;
$width_ScreenAverage: 1680px;
$width_ScreenLarge: 1920px;
$width_ScreenXLarge: 2560px;

$color_BodyBg: #000;

$color_DiveBlack: #231f20;
$color_DiveRed: #ed1b24;
$color_DiveGrey: #444;
$color_DiveLtGrey: #bdbbbc;
$color_DiveWhite: #fff;

$color_TextLt: #dadada;
$color_TextDk: #373737;

$color_TextShadowLt: #777;