$debug_appFrame: false;
$debug_layout: false;

// media query widths
$width_PhonePortrait: 400px;
$width_PhoneLandscape: 600px;
$width_TabletPortait: 480px;
$width_TabletLandscape: 640px;

$width_Screen320: 320px;
$width_Screen480: 480px;
$width_Screen600: 600px;
$width_Screen640: 640px;
$width_Screen768: 768px;
$width_Screen800: 800px;
$width_Screen960: 960px;
$width_Screen1024: 1024px;
$width_Screen1280: 1280px;

$width_Screen1440: 1340px;//1440px;

$width_Screen1680: 1680px;
$width_Screen1920: 1920px;
$width_Screen2560: 2560px;

/*******************************************/
$height_Header: 8em;
$height_HeaderWide: 12em;
$height_Footer: 5em;
//$height_LeftSidebarOffset: 6%;
$height_LeftSidebarOffset: 8em;
$height_contentBox-top: 1.25em;
$height_contentBox-bottom: 1em;

$width_Sidebar_3col: 15%;
$width_SidebarInternal: 60%;
$width_SidebarInternal_Max: 220px;

/*******************************************/

$color_BodyBg: #000;
$color_FooterBg: hsla(0,0%,0%,0.4);

$color_DiveBlack: #231f20;
$color_DiveRed: #ed1b24;
$color_DiveRedDark: #520812;

$color_DiveGrey: #444;
$color_DiveLtGrey: #bdbbbc;
$color_DiveDkGrey: #333;
$color_DiveWhite: #fff;

$color_TextLt: #dadada;
$color_TextDk: #373737;
$color_TextRed: #b82929;

$color_TextShadowLt: #777;

$color_SectionBg: #fcf9f9;

$color_debug1: hsla(0,100%,50%,0.35);
$color_debug2: hsla(45,100%,50%,0.35);
$color_debug3: hsla(90,100%,50%,0.35);
$color_debug4: hsla(135,100%,50%,0.35);
$color_debug5: hsla(180,100%,50%,0.35);
$color_debug6: hsla(225,100%,50%,0.35);
$color_debug7: hsla(270,100%,50%,0.35);
$color_debug8: hsla(315,100%,50%,0.35);