
$debug_containers: false;
$debug_layout: false;

// media query widths
$width_PhonePortrait: 400px;
$width_PhoneLandscape: 600px;
$width_TabletPortait: 480px;
$width_TabletLandscape: 640px;

$width_Screen320: 320px;
$width_Screen480: 480px;
$width_Screen640: 640px;
$width_Screen768: 768px;
$width_Screen800: 800px;
$width_Screen960: 960px;
$width_Screen1024: 1024px;
$width_Screen1280: 1280px;
$width_Screen1440: 1440px;
$width_Screen1680: 1680px;
$width_Screen1920: 1920px;
$width_Screen2560: 2560px;

/*******************************************/

$height_Header: 12em;
$height_Footer: 5em;
$height_LeftSidebarOffset: 8em;

/*******************************************/

$color_BodyBg: #000;

$color_DiveBlack: #231f20;
$color_DiveRed: #ed1b24;

$color_DiveGrey: #444;
$color_DiveLtGrey: #bdbbbc;
$color_DiveWhite: #fff;

$color_TextLt: #dadada;
$color_TextDk: #373737;
$color_TextRed: #b82929;

$color_TextShadowLt: #777;

$color_SectionBg: #fcf9f9;