@mixin group {
  zoom: 1;  // IE6/7
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

@mixin biColorText {
  text-shadow: 1px 1px 2px #444;
  /deep/ span {
    white-space: nowrap;
    color: $color_TextRed;
  }
}