@import 'scss_variables.scss';

* { 
    box-sizing: border-box;
}

html, body { height: 100%; margin: 0; padding: 0; }
body {
    position: relative;
    min-height: 100%;
    background: url("./assets/img/woodBg.jpg");
    color: $color_TextLt;
    background-color: $color_BodyBg;
    font-size: 100%;
    font-family: 'Ubuntu Condensed', sans-serif;
    
    @if $debug_containers { border: 3px solid blue; }
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0 0 0.5em 0;
    letter-spacing: 0.3px;
}
p { margin: 0 0 0.5em 0; letter-spacing: -1px; }

a {
    color: $color_DiveRed;
    text-decoration: none;
    &:hover { text-decoration: underline; }
    &:active { color: #f64; }
    &:visited {
        color: $color_TextRed;
    }
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*****
 need height 100% on all elements up to pageContainer
 todo: all angular elements need display block??
    <app-root>
        <div appContainer>
            <router-outlet>
            <app-layout>
                <div pageContainer>
*/
app-root {
    display: block;
    height: 100%;
    
    @if $debug_containers { border: 1px solid red; }
}
    

/*************************************************/

.diveFont { 
    float: right;
    margin-right: 2%;
    text-align: center; 
    margin-top: 0.5em;
    text-shadow: 2px 2px $color_DiveGrey, -1px -1px $color_DiveWhite;
    font-family: 'Bevan', cursive;
    font-size: 8vw;

    //@media screen and (max-width: $width_ScreenAverage)     { font-size: 8em; }
    //@media screen and (max-width: $width_ScreenSmall)       { font-size: 6em; }
    @media screen and (max-width: $width_TabletLandscape) {
        font-size: 10vw;
        width: 50%;
        text-align: right;
        margin-top: 0;
        margin-right: 4%;
    }
    @media screen and (max-width: $width_PhonePortrait) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1em;
        font-size: 12vw;
        text-align: center;
    }
}




