@import 'scss_variables.scss';

* { 
    box-sizing: border-box;
}

html, body { height: 100%; margin: 0; padding: 0; }
body {
    position: relative;
    min-height: 100%;
    background: url("./assets/img/woodBg.jpg");
    color: $color_TextLt;
    background-color: $color_BodyBg;
    font-size: 100%;
    font-family: 'Ubuntu Condensed', sans-serif;
    @media screen and (min-width: $width_Screen640) { font-size: 110%; }
    @media screen and (min-width: $width_Screen768) { font-size: 110%; }
    @media screen and (min-width: $width_Screen800) { font-size: 115%; }
    @media screen and (min-width: $width_Screen960) { font-size: 120%; }
    @media screen and (min-width: $width_Screen1024) { font-size: 120%; }
    @media screen and (min-width: $width_Screen1280) { font-size: 130%; }
    @media screen and (min-width: $width_Screen1440) { font-size: 120%; }
    @media screen and (min-width: $width_Screen1680) { font-size: 130%; }
    @media screen and (min-width: $width_Screen1920) { font-size: 150%; }
    @media screen and (min-width: $width_Screen2560) { font-size: 200%; }
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0.4em 0 0.3em 0;
    letter-spacing: 0.3px;
    &:first-child { margin-top: 0; }
}
p { margin: 0 0 0.5em 0; letter-spacing: -1px; }

a {
    color: $color_DiveRed;
    text-decoration: none;
    &:hover { text-decoration: underline; }
    &:active { color: #f64; }
    &:visited {
        color: $color_TextRed;
    }
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*************************************************/

.biColorText {
    text-shadow: 1px 1px 2px #444;
    span {
        white-space: nowrap;
        color: $color_TextRed;
    }
}

.diveFont { 
    float: right;
    margin-right: 2%;
    text-align: center; 
    margin-top: 0.5em;
    text-shadow: 2px 2px $color_DiveGrey, -1px -1px $color_DiveWhite;
    font-family: 'Bevan', cursive;
    font-size: 8vw;

    //@media screen and (max-width: $width_ScreenAverage)     { font-size: 8em; }
    //@media screen and (max-width: $width_ScreenSmall)       { font-size: 6em; }
    @media screen and (max-width: $width_TabletLandscape) {
        font-size: 10vw;
        width: 50%;
        text-align: right;
        margin-top: 0;
        margin-right: 4%;
    }
    @media screen and (max-width: $width_PhonePortrait) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1em;
        font-size: 12vw;
        text-align: center;
    }
}




