@import '../../../../../scss_variables.scss';

:host {
    display: block;
    @media screen and (min-width: $width_Screen600) { 
        margin-bottom: 2em;
    }

    &:last-child {              // last content-layout within content-box
        margin-bottom: 0;   
        //border: 1px solid red; 
        > div {                 // div which gets orderReverse class applied
            > div:last-child {  // last inner div ('right' of left/right)
                margin-bottom: 0;
                //border: 1px solid green;
            }
        }
    }

    > div {

        display: flex;
        //flex-direction: column;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        &.orderReverse { 
            //flex-wrap: wrap-reverse;
            flex-direction: row-reverse;
        }

        //@media screen and (min-width: $width_Screen600) {}
        //@media screen and (min-width: $width_Screen600) {}
        margin-bottom: 0;
        
        
        > div {
            flex: 1 0 100%;
            min-height: 1px;    // IE11 fix for resized img within nested flex container causing whitespace equal to original image height
                    // todo: fix stopped working after wrapping divs added?
            
            margin-bottom: 2em;
            // DO NOT USE last-child etc, flex wrap will potentially change visual order of elements (orderReverse = flexwrap: wrap-reverse)
            //&:last-child { margin-bottom: 0; }

            @media screen and (min-width: $width_Screen600) { 
                flex: 0 1 48%;
                margin-bottom: 0;
            }
        }
    }
}

